@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
  --darkGreen: #386641;
  --green: #6A994E;
  --lightGreen: #A7C957;
  --grey: #F2E8CF;
  --red: #BC4749;
}
*{
  box-sizing: border-box;
  margin: 0px ;
  padding: 0px ;
}
body{
  font-family: "Zilla Slab", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
  background-color: var(--green);
  color: var(--grey);
}
h1, h2, h3, h4,h5,h6 {
  font-family: "Kaushan Script", cursive;
  font-weight: 400;
  font-style: normal;
}
h1{
  font-size: 5vmin;
}
h2{
  font-size: 4vmin;
}
h3{
  font-size: 2.7vmin;
}
.main_box
{
  background-color: var(--darkGreen);
  margin: 0 auto;
  max-width: 1200px ;
  width: 70vw;
  min-width: 180px;
  height: 100%;
  padding-top: 2%;
  padding-bottom: 2%;
  min-height: 100vh;
}

header{
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 12px;
  padding-left: 5%;
  padding-right: 5%;
}
.soltys
{
  width: 20vw;
  max-width: 200px;
  overflow: hidden;
  border-radius: 20px;
}
.soltys img{
  width: 100%;
  height: auto;
}
article{
  margin-top: 5vh;
  display: grid;
  row-gap: 2vh;
  padding-left: 10%;
  padding-right: 10%;
}
.ogloszenie .text ul li
{
  margin-bottom: 2%;
}
.wstemp
{
  font-size: 2vmax;
  font-family: "Zilla Slab", system-ui;
  font-weight: 600;
  font-style: normal;
  margin-top: 10px;
}
.ogloszenie .tytul
{
  margin-bottom: 0.7vh;
}

.carousel {
  width: 100%;
  height: 25vh;
  position: relative;
}

.carousel > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slide {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: 200ms opacity ease-in-out;
  transition-delay: 200ms;
  overflow: hidden;
  border-radius: 20px;
}

.slide > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.slide[data-active] {
  opacity: 1;
  z-index: 1;
  transition-delay: 0ms;
}

.carousel-button {
  position: absolute;
  z-index: 2;
  background: none;
  border: none;
  font-size: 4rem;
  top: 50%;
  transform: translateY(-50%);
  color: rgba(255, 255, 255, .5);
  cursor: pointer;
  border-radius: .25rem;
  padding: 0 .5rem;
  background-color: rgba(0, 0, 0, .1);
}

.carousel-button:hover,
.carousel-button:focus {
  color: white;
  background-color: rgba(0, 0, 0, .2);
}

.carousel-button:focus {
  outline: 1px solid black;
}

.carousel-button.prev {
  left: 1rem;
}

.carousel-button.next {
  right: 1rem;
}
@media screen and (max-width: 600px) {
  .main_box
  {
    background-color: var(--darkGreen);
    max-width: 1200px ;
    width: 100vw;
    min-width: 180px ;
    height: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
    min-height: 100vh;
  }
  h1{
    font-size: 2.5rem;
  }
  h2{
    font-size: 1.8rem;
  }
  h3{
    font-size: 1.5rem;
  }
  .wstemp
  {
    font-size: 1.3rem;
  }
  body{
    font-size: 1.1rem;
  }
}